<!DOCTYPE html>
<html>
<head>
    <title>Dashboard | Hotel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="navbar">
    <h2>Admin Dashboard</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/booking">Booking</a>
    </nav>
</header>

<section style="padding:40px; text-align:center;">
    <h1>Welcome to Dashboard</h1>
    <p>This is admin area (data will come later)</p>

    <div class="room-container">
        <div class="room-card">
            <h3>Total Rooms</h3>
            <p>25</p>
        </div>

        <div class="room-card">
            <h3>Total Bookings</h3>
            <p>12</p>
        </div>

        <div class="room-card">
            <h3>Available Rooms</h3>
            <p>13</p>
        </div>
    </div>
</section>

</body>
</html>
